.App{
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
}

html , body {
    height: 100%;
}

.row{
    margin-right: 0 !important;
}

.padding {
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.nonPadding {
    margin: 0 !important;
    padding: 0 !important
}

.container-fluid  {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    margin: 0 !important;
    padding: 0 !important;
}

.netflix{
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/b09c7d01-44a8-4786-93e6-90c9bc7a4c0a/5f032bce-690a-41db-9a33-ce218e6df76d/VN-en-20180917-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contain{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0 , 0, 0,0.6);
    flex-direction: column
}

.loginForm {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login {
    width: 100%;
    background-color: rgba(0,0,0,.75);
    margin-left: 40%;
    margin-right:40%;
    padding: 3%;
}

.primaryColorText{
    font-weight: bold;
    color : #EA1C22
}

.signUp{
    margin-top: 10px;
    text-align: center;
}


.ant-input {
    /* font-co */
    height: 2vw !important;
    color: #000
}

.ant-btn-primary{
    background-color: #D93433 !important;
    border-color: #D93433 !important;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    /* float: c; */
  } 
  .myButton {
    height: 2vw !important;
    margin-top: 1vw; 
    width: 100% !important ;
    background-color: #D93433 !important;
    border-color: #D93433 !important;
    font-size: 16px !important;
    color: #fff;
    font-weight: bold;
    text-align: center
  }

  
  .ant-message-notice-content{
    background-color: rgba(0,0,0,.75) !important;
  }


  .span {
    color: #fff;
    font-weight: bold;
    text-align: center
  }
  .span > input {
    color: #000;
    font-weight: bold;
  }
.link {
      color: #D4CFD3;
      font-weight: bold;
      align-items: center
  }

  .link:hover {
    color: #000 !important;
  }

  a:hover {
    color: #D93433 !important;
  }

  .signInText{
    color: #fff;
    font-size: 20px;
  }

/* // Login header  */
.loginHeader {
    height: 10%;
    padding: 2%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.logoLogin {
    width: 15%;
}


/* Home */
.header {
    display: flex;
    padding:1%;
    box-sizing: border-box;
    background-color: #EA1C22;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-right: 0 !important
}


.spider {
    height: 3vw;
}

.super {
    height: 2vw;
}

.containLayout{
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    flex-direction: column;
}

.container-fluid{
    background-color: #fafafa;
}

.superheroLine {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 31%;
    top:0;
    bottom:0;
    align-items: center;
    /* justify-content: space-between; */
    width: 50%;
}

.trendyLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.a{
    /* padd */
}

.panelTag{
    display: flex;
    border: 1px solid #D93433;
    border-radius: 20px;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.normarlText{
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
}

.projectInfoText{
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

.homeNormalText{
    color: #191919;
    font-weight: bold;
    font-size: 15px;
    margin: 0
}

.loginButton{
    text-align: right;
    padding-right:0 !important
}

.loginButtonNav{
    display: none;

}

.logoView{
    /* height: ; */
}

.input {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.input .ant-input {
    border-radius: 23px;
    padding: 20px 11px;
    color: #000;
    font-size: 18;
    font-weight: 500;
}

/* message */
.ant-message-notice-content{
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}
.ant-message-notice-content {
    background-color: #fff !important;
}

.myNav{
    box-sizing: border-box;
    background-color: rgba(0,0,0,.85);
    display: flex;
    justify-content: space-between;
}

.myNavLeft {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.myNavRight{
    display: flex;
    width: 5%;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 0.3px solid rgba(0,0,0,.85);
    border-top: 0.3px solid rgba(0,0,0,.85)
}

.searhButton{

}


.navLink{
    display: flex;
    color: #fafafa;
    font-weight: 600;
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 13px;
}

.collapseButton{
    display: none;
}

.signText{
    color: #fff;
    font-weight: bold;
}

.collapse , .collapseRow {
    display: none;
}


.slide {
    width: 100%;
    border:none;
    padding: 0 !important;
    margin: 0!important;
    position: relative;
}

.navSlide{
    position: absolute;
    left:0;
    right:0;
    /* padding: 1%; */
    margin-left: 15%;
    margin-right:20%;
    height:18%;
    /* top: 90%; */
    bottom: -10%;
    background-color: #fafafa;
    display: flex;
}

.navSlideItem{
    /* width: ; */
    display: flex;
    padding-left : 2%;
    padding-right: 2%;
    flex-basis: 60%;
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
}
.slideNavText:hover {
    color: #EA1C22
}

.verNav{
    display: none;
    transition: all 0.5s ease-in-out;
}

.MuiLinearProgress-colorPrimary-2{
    background-color:transparent !important
}

.MuiLinearProgress-barColorPrimary-10{
    background-color: #EA1C22 !important;

}


.slideNavText{
    cursor: pointer;
    padding-top: 10%;
    color: #000;
    font-weight: bolder;
    letter-spacing: 0;
    font-size: 0.8vw;
}

.slideNavTextClick{
    color: #EB2328;
    padding-top: 10%;
    font-weight: bolder;
    letter-spacing: 0;
    font-size: 0.8vw;
}

/* .slide div {
    height: 100%;
    width: 100%
} */


.imageSlide{
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: relative;
}

.slideLogoImage {
    height: 15%;
    width: 12%
}

.movieInfoPhone{
    display: none;
}

.linear {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0.7) ,rgba(0,0,0,0.5) ,transparent ,  transparent) !important;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.releaseDate{
    color: #fff;
    font-size: 60px;
    margin-bottom: 0 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content{
    color: #fff;
    font-size: 18px;
    margin-bottom: 3% !important;
    width: 70%
}

.slideButton{
    background-color: #EA1C22;
    padding: 10px 20px;
    color: #fff;
    width: 13%;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    text-align: center
}

.slideButton:hover{
    background-color: #fafafa;
}


.slideText{
    color: #fff;
    font-weight: bold;
    font-size: 35px;
}

.slideDescription{
    color: #fff;
    font-size: 25px;
}

.slick-arrow{
    display: none !important;
}

.followUs{
    margin-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end
}

.followIconDiv {
    width: 10%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    justify-content: space-between;
}

.logo{
    width: 35%;
}

.bodyProfile {
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    background-color: '#FAFAFA';
}

.postedList {
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: '#FAFAFA';
}


.profileRow {
    display: flex;
    flex-direction: column;
    padding-right: 3%;
}

.profileRowInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.roundedDiv{
    display: flex;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    /* border-radius: 500px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.fileInput{
    position: absolute;
    bottom: 0;
    top:0;
    left:0;
    right:0;
    transition: all 0.3s ease-in-out; 
    opacity: 0;
    z-index: 1;
}

.mask{
    position: absolute;
    bottom: 0;
    top:0;
    left:0;
    right:0;
    transition: all 0.3s ease-in-out; 
    z-index: 0;
    opacity: 0;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roundedDiv:hover .mask{
    opacity: 1;
    background-color: rgba(0 , 0, 0,0.6)
}

.avatar {
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: #bababa;
    border: 0.5px solid #bababa;
}

.profileChildRow{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
}

.userStats{
    display: flex;
    width: 30%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}



/* .avatar:hover{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
} */

.bigText {
    color: #262626;
    font-size: 30px;
    margin-right: 20px;
    margin:0 !important;
    padding:0 !important;
    word-wrap: break-word;
}

.normalBlackBoldText {
    color: #262626;
    font-weight: bold;
    margin:0 !important;
    padding:0 !important;
    word-break: break-all;
    width: 55%;
    white-space: pre-line;
}

.editText {
    color: #262626;
    font-weight: bold;
    margin:0 !important;
    padding:0 !important;
    word-break: break-all;
}


.editButton{
    border: none !important;
}

.editButton:focus{
    box-shadow:none;
}


.info{
    color: #D93433;
    size: 20px;
    margin-right: 5px;
}

.toUplistButton{
    background-color: #fafafa;
    width: 100px;
    height: 20px;
    border:none;
    margin-top:5px;
    border-radius: 5px;
    color: #D93433;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.toUplistButton:hover{
    background-color: #000;
}

.upListCollapse{
    /* display: flex; */
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-weight: 600;
    text-align: left;
    padding-left: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 13px;
    transition: color 0.3s ease-in-out;
}

.upListCollapse:hover{
    /* display: flex; */
    color: #EB2328;
}

textarea.ant-input{
    min-height: 100px !important;
}

.modal{
    border-bottom: none !important
}

.editname{
    justify-content: space-between;
}

.titleText{
    color: #EB2328
}

.loaderDiv{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.loader {
    text-align: center;
    border: 5px solid rgba(0,0,0,0.8); /* Light grey */
    border-top: 5px solid #EB2328; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    justify-self: center;
}

.profileListCard{
    width: 100%;
    background-color: #fff;
    border: 0.5px solid rgba(0,0,0,0.1);
    /* display: flex;
    justify-content: center */
    /* margin-left: 0 */
}

.listInfo{
    padding: 10px 15px;
}

.listName{
    color: #EB2328;
    font-weight: bold;
    font-size: 18px;
}

.date {
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.listStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.postedMovieImage{
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    /* width: 15%; */
}

  
  .progress-bar {
    height: 5px;
    background: #EB2328;
    animation: load 4s linear ;
  }

  @keyframes load {
    0% { width: 0%; }
    100% { width: 100%; }
    }

    .paddingHard{
        padding-left: 15% !important;
        padding-right: 45% !important;
    }

  .searchMovie{
    display: flex;
    flex-direction: row;
    height: 150px;
  }
  .searchMovie-detail{
    display: block;
  }

  .rule{
    color:#000000;
    text-align: left;
    font-size: 15px;
    padding-top: 5%;
  }
  

  










/* Header */
