.App{
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
}

/* Login */

html , body {
    height: 100%;
}




.container-fluid  {
    height: 100%;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/b09c7d01-44a8-4786-93e6-90c9bc7a4c0a/5f032bce-690a-41db-9a33-ce218e6df76d/VN-en-20180917-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    margin: 0 !important;
    padding: 0 !important;
}

.contain{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0 , 0, 0,0.6);
    flex-direction: column
}

.loginForm {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login {
    width: 100%;
    background-color: rgba(0,0,0,.75);
    margin-left: 40%;
    margin-right:40%;
    padding: 3%;
}

.signUp{
    margin-top: 10px;
    text-align: center;
}


.ant-input {
    /* font-co */
    height: 2vw !important;
    color: #000
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    /* float: c; */
  } 
  .ant-btn-primary {
    height: 2vw !important;
    margin-top: 1vw; 
    width: 100%;
    background-color: #D93433 !important;
    border-color: #D93433 !important;
    font-size: 16px !important;
    color: #fff;
    font-weight: bold;
    text-align: center
  }

  
  .ant-message-notice-content{
    background-color: rgba(0,0,0,.75) !important;
  }


  .span {
    color: #fff;
    font-weight: bold;
    text-align: center
  }
  .span > input {
    color: #000;
    font-weight: bold;
  }
.link {
      color: #D93433;
      font-weight: bold;
      align-items: center
  }

  a:hover {
    color: #D93433 !important;
  }

  .signInText{
    color: #fff;
    font-size: 20px;
  }

/* // Login header  */
.loginHeader {
    height: 10%;
    padding: 2%;
    width: 100%;
}

.logoLogin {
    width: 15%;
}


/* Home */
.header {
    display: flex;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.9);
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40%;
}

.spider {
    height: 4vw;
}

.super {
    height: 3vw;
}

.containLayout{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
}

.superheroLine {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30%;
    top:20px;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.trendyLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.a{
    /* padd */
}

.panelTag{
    display: flex;
    border: 1px solid #D93433;
    border-radius: 20px;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.normarlText{
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

.loginButton{
    text-align: right
}

.loginButtonNav{
    display: none;
}

.logoView{
    width: 20%;
}

.input {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.input .ant-input {
    border-radius: 23px;
    padding: 20px 11px;
    color: #000;
    font-size: 18;
    font-weight: 500;
}

/* message */
.ant-message-notice-content{
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}
.ant-message-notice-content {
    background-color: #fff !important;
}

.myNav{
    border-top: 0.02px solid #393939;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.9);
    width: 100%;
    display: flex;
}

.myNavLeft {
    display: flex;
    border-top: 0.02px solid #393939;
    padding-left: 15%;
    padding-right: 15%;
    margin-left: 5px;
    width: 60%;
    justify-content: space-between;
}

.navLink{
    display: flex;
    color: #fff;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.collapseButton{
    display: none;
}

.signUpText{
    color: #A77919
}

.collapse{
    display: none;
}

@media only screen and (max-width : 768px) {
    .logoView {
        display: flex;
        justify-content: center;
    }
    .input {
        display: none;
    }
    .loginButton {
        /* display: none; */
        display: none;
        
    }
    .loginButtonNav{
        display: block;
    }
}


@media only screen and (max-width: 600px) {
    .logoLogin {
        width: 50%;
    }
    .row{
        margin-right: 0 !important;
    }
    .login {
        width: 100%;
        background-color: rgba(0,0,0,.75);
        margin-left: 20%;
        margin-right:20%;
        padding: 2%;
    }

    .myNavLeft  {
        flex-direction: column;
        width: 100%;
    }

    .myNavLeft  a{
        display: none;
    }

    .verNav {
        flex-direction: column;
        width: 100%;
        display: flex;
        border-top: 0.02px solid #393939;
        padding-left: 15%;
        padding-right: 15%;
        margin-left: 5px;
    }

    .collapse{
        display: flex !important;
        color: #fff;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 22px;
     }

    
    
    .ant-input {
        /* font-co */
        height: 7vw !important;
        font-size: 16px;
    }
    
      .ant-btn-primary {
        height: 7vw !important;
        margin-top: 10px; 
        width: 100%;
        background-color: #D93433 !important;
        border-color: #D93433 !important
      }
    
      .span {
        font-size: 16px;
        color: #fff;
      }
    
      .link {
        color: #D93433 ;
          font-size: 16px;
      }
    
      .signInText{
        color: #fff;
        font-size: 16px;
      }

      .logo {
        width: 80% !important;
      }
    
}







/* Header */
